.vertentes{
    margin: 0px;
}
.titulo-inicio{
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    text-shadow: 3px 3px #000;
    color: white;
    margin-top: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    padding-top: 120px;
}

span.span-labs{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;
}
footer {
    background-color: #222222;
    color: #FFF;
    padding: 1em;
    font-family: "Open Sans Condensed", sans-serif;

}
footer h2 {
    font-size: 3em;
    margin: 2px 2px 2px 8px;
}
footer ul{
    margin-left: 10px;
}
footer a {
    color: lightblue;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
    background-color: #f2fffc;    
}
html,body {
    overflow-x: hidden;
    height: 100%;
    margin:0;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
    margin-top: 0px;
}
.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin:0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: white;
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.artificial {
    top: 45%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.design {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.thinking {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.big {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.iot {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.blockchain {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.clean{
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.colaboration {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.digital {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.header-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    background-color: #12477b;
    height: 50%;
    text-align: center;
}
ul{
    list-style: none;
}
@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}
.paragrafo-inicio{
    text-align: justify;
    font-family: "Open Sans Condensed", sans-serif;
    color: gray;
    line-height: 1.0;
}
.secao-vertentes{
    background-color: #0a355f;

}
.titulo-vertentes{
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px #000;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 25px;
}
.img1{
    width: 420px;
    height: 300px;
    margin-left: 0px;

}
.img2{
    width: 500px;
    height: 250px;
    
}
.img3{
    width: 420px;
    height: 272px;
}

.img1, .img2, .img3{
    transition-duration: 0.8s;
}

.secao-vertentes ul{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.botao{
    text-align: center;
}
.secao-inicio{
    margin-top: 80px;
    margin-bottom: 60px;
}

.item2 {
    transform: scale(1.1);
}
.vertentes img{
    border: 3px solid black;
} 
.img1:hover, .img2:hover, .img3:hover{
    border: 3px solid gray;
    transform: scale(1.1);
    z-index: 3;
}
.faca-parte{
    margin-bottom: 60px;
}

.saiba-mais{
    margin: 2ch 2ch;
    align-self: center;
    width: 35%;
    background-color: #12477b;
    font-size: 1.5em;
    padding: 0.5em;
    color: #ffe;
    font-family: "Open Sans Condensed", "Times New Romans", sans-serif;
    border: 0;
    text-transform: uppercase;
    border: 1px solid #12477b;
}
.faca-parte{
    background-color: white;
    color: #12477b;
    margin: 2ch 2ch;
    align-self: center;
    width: 30%;
    font-size: 1.5em;
    padding: 0.5em;
    font-family: "Open Sans Condensed", "Times New Romans", sans-serif;
    border: 0;
    text-transform: uppercase;
    border: 1px solid white;
    margin-bottom: 50px;
}
.saiba-mais:hover{
    background-color: white;
    color: #12477b;
    border: 1px solid #12477b;
}
.faca-parte:hover{
    background-color: #0a355f;
    color: white;
    border: 1px solid white;
}
.secao-inicio{
    height: 50%;
}
ul{
    padding: 0px;
}
footer a:hover{
    color: white;
}