.titulo-inicio{
    text-align: center;
    transform: translateY(140%);
    text-transform: uppercase;
    font-size: 4em;
    text-shadow: 3px 3px #000;
    color: white;
    margin-top: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
}

span.span-labs{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: italic;
}
footer {
    background-color: #222222;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #ffe9bb;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
    background-color: #f2fffc;    
}
html,body {
    overflow-x: hidden;
    height: 100%;
    margin:0;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
    margin-top: 0px;
}
.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin:0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: white;
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.artificial {
    top: 45%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.design {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.thinking {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.big {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.iot {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.blockchain {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.clean{
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.colaboration {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.digital {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.header-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    background-color: #12477b;
    height: 50%;
    text-align: center;
}
ul{
    list-style: none;
}
@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.0em 0;
    width: 80%;
    
}
.paragrafo-inicio{
    text-align: justify;
    font-family: "Open Sans Condensed", sans-serif;
    color: gray;
    line-height: 1.0;
}
.secao-vertentes{
    background-color: #0a355f;
    margin-top: 50px;
    margin-bottom: 100px;

}
.titulo-vertentes{
    text-align: center;
    font-size: 3em;
    text-shadow: 3px 3px #000;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.img1{
    width: 420px;
    height: 300px;
    margin-left: 0px;

}
.img2{
    width: 500px;
    height: 250px;
    
}
.img3{
    width: 420px;
    height: 272px;
    float: right;
    
}

.secao-vertentes ul{
    display: flex;
    flex-flow: row;
    justify-content: center;

}
.botao{
    text-align: center;
}
.secao-inicio{
    margin-top: 80px;
    margin-bottom: 60px;
}

.item2 {
    transform: scale(1.1);
}
.vertentes img{
    border: 3px solid black;
} 
