.titulo-inicio{
    text-align: center;
    transform: translateY(160%);
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
    color: white;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
}
header{
    margin-top: 30px;
}

span.span-labs{
    font-family: "Shadows Into Light", cursive;
}
footer {
    background-color: #222222;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #ffe9bb;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
    background-color: #f2fffc;    
}
html,body {
    overflow-x: hidden;
    height: 100%;
}
body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
    margin-top: 0px;
}
.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: white;
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}
.artificial {
    top: 45%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.design {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.thinking {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.big {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.iot {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.blockchain {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.clean{
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.colaboration {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.digital {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.header-principal {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
    background-color: #12477b;
    height: 50%;
    text-align: center;
}
ul{
    list-style: none;
}
@-webkit-keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece {
    from {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.container {
    width: 110ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.0em 0;
    
}
.paragrafo-inicio{
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    color: gray;
}
.secao-vertentes{
    background-color: #0a355f;
}
.titulo-vertentes{
    text-align: center;
}
.img1{
    width: 400px;
    height: 250px;
    border: 10px solid black;
    float: left;
}
.img2{
    width: 400px;
    height: 250px;
    border: 10px solid black;
    float: right;
}
.img3{
    width: 400px;
    height: 250px;
    border: 10px solid black;
    float: right;
}